<a href="https://colab.research.google.com/github/mohammadmotiurrahman/mohammadmotiurrahman.github.io/blob/main/python/code/Chapter2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Containers (aka Data Structures of Python)

---
Let us do a bit of exploration about the available containers in Python.
What are containers you may ask. Here is a snippet of text from [stackoverflow.com](https://stackoverflow.com/questions/11575925/what-exactly-are-containers-in-python-and-what-are-all-the-python-container) to explain it: 

<i>"Containers are any object that holds an arbitrary number of other objects. Generally, containers provide a way to access the contained objects and to iterate over them.

Examples of containers include **tuple**, **list**, **set**, **dict**; these are the built-in containers. More container types are available in the [collections](https://docs.python.org/dev/library/collections.html#module-collections) module."</i>
The Standard Library of Python 3 can be found [here](https://docs.python.org/3/library/index.html) and the Python Language Reference can be found [here](https://docs.python.org/3/reference/index.html) .

##List

---

List is similar to linked list in C++, and it has couple of functions similar to C++ implementation. However, let us begin somewhere.

List in Python is mutable, which means after a list is being created , it can be modified. Lists in Python is represented using `[]` symbol. Let us see some example:

In [ ]:
#An example of a list containing strings
myList = ["apple", "banana", "cherry"]
print(myList)

['apple', 'banana', 'cherry']

In [ ]:
#Lists can also a mix of data-types
myList = ["apple", 10, "banana", 15.5, "cherry", True ]
print(myList)

['apple', 10, 'banana', 15.5, 'cherry', True]

In [ ]:
#Length of elements in a list is found using the following function
lenList = len(myList)
print(f"Length of the list is {lenList}")

Length of the list is 6

###Printing elements in a list

In [ ]:
#Lists can be printed in the following way
myList = ["apple", 10, "banana", 15.5, "cherry", True ]
lenList = len(myList)
for i in range(lenList):
  print(myList[i])

apple
10
banana
15.5
cherry
True

In [ ]:
#It can also be printed in the following way
myList = ["apple", 10, "banana", 15.5, "cherry", True ]
lenList = len(myList)
for element in myList:
  print(element)

apple
10
banana
15.5
cherry
True

Printing elements can also be done in the following way - `myList[start:end:step]` where `start` is the starting index, `end` is the ending index, `step` is the amount by which the index of the list is stepped.

In [ ]:
myList = ["apple", "banana", "cherry", "dates"]
lenList = len(myList)

#Printing the whole list
a = myList[0:lenList]
print(a)

#Printing the whole list
a = myList[:]
print(a)

#Printing a certain number of elements
a = myList[2:lenList]
print(a)

#Printing only stepped numbers of elements
a = myList[0:lenList:2]
print(a)

#Printing the last element
a = myList[-1]
print(a)

#Printing the second last element
a = myList[-2]
print(a)

['apple', 'banana', 'cherry', 'dates']
['apple', 'banana', 'cherry', 'dates']
['cherry', 'dates']
['apple', 'cherry']
dates
cherry

One of the interesting way of printing elements in reversed way is the following way:

In [ ]:
myList = ["apple", "banana", "cherry", "dates"]
lenList = len(myList)
a = myList[::-1]
print(a)

['dates', 'cherry', 'banana', 'apple']

###List comprehension
One of the "Pythonic" ways to iterate list is the following:

In [ ]:
#Lets say there is a list like the following:
a = [1,2,3,4]
#and one of the ways to iterate the list is the following:
lenList = len(a)
for i in range(lenList):
  print(a[i])

#In Python it can be done this way as well, this is known
#as list comprehension
b = [a[i] for i in range(lenList)]
print(b)

#Oh yes, if you are reading this and thinking I wish 
#the outputs could be printed in the same line, here 
#is an explanation of how to do so:
#https://stackoverflow.com/questions/12032214/print-new-output-on-same-line

1
2
3
4
[1, 2, 3, 4]

###`append`, `pop` and `in` keywords
The three important functions needed for any data structure are add , delete and find. In list, these actions are performed using `append`, `pop` and `in` keywords.

In [ ]:
myList = ["apple", "banana", "cherry"]
#Adding "dates" to the list
myList.append("dates")
print(myList)

#Removing the last element from the list
myList.pop()
print(myList)

#Looking for an element in the list
a = "cherry"
if a in myList:print(f"{a} is in the myList")

b = "mango"
if not(b in myList):print(f"{b} is not in myList")

['apple', 'banana', 'cherry', 'dates']
['apple', 'banana', 'cherry']
cherry is in the myList
mango is not in myList

###`insert`, `extend`, `remove`, and `clear`
There are other functions which is involved in adding and removing elements from a list in Python. Some examples are given here:

In [ ]:
myList = ["apple", "banana", "cherry"]
print(myList)
#Inserting an element at a particular index
myList.insert(1, "dates")
print(myList)

#Attaching one list with another list
mySecondList = ["apple pie", "banana bread", "cheese cake"]
myList.extend(mySecondList)
print(myList)

#Removing an element from a list
myList.remove("banana")
print(myList)

#Removing all elements from a list
myList.clear()
print(myList)

['apple', 'banana', 'cherry']
['apple', 'dates', 'banana', 'cherry']
['apple', 'dates', 'banana', 'cherry', 'apple pie', 'banana bread', 'cheese cake']
['apple', 'dates', 'cherry', 'apple pie', 'banana bread', 'cheese cake']
[]

###`reverse` and `sort`
In addition to use negative indexing, built-in methods can be used to reverse a given list. Similarly there is a built-in method to sort elements in a list.

In [ ]:
#Reversing a list
myList = [10,20,30, 40, 50]
myList.reverse()
print(myList)

[50, 40, 30, 20, 10]

In [ ]:
#Sorting a given list
myList = [5, 15, 10, 0]
myList.sort()
print(myList)

[0, 5, 10, 15]

###Some unique way of adding and multiplying elements in list

In [ ]:
#Lets say the variable myList contains the following
myList = ["mango"]
#... and you want to print the elements 5 times
#You can do the following:
print(myList*5)

#Also the following can be done too:
myList = ["apple", "banana"]
print(myList*2)

#So, is this possible:
myList = ["apple"]
print(myList[0]*2)

['mango', 'mango', 'mango', 'mango', 'mango']
['apple', 'banana', 'apple', 'banana']
appleapple

In [ ]:
fruits = ['apple', 'banna', 'cherry']
veggies = ['asparagus', 'beans', 'carrots']
print(fruits + veggies)

['apple', 'banna', 'cherry', 'asparagus', 'beans', 'carrots']

### Copying elements in a list
Sometimes, it so happens that one needs to change the content of a list. However, the programmer wants to keep the original content of the list unchanged. Lets us discuss how to carry out the operations safely.

In [ ]:
#Let us copy one list ot another one
orgList = ["apple","banana", "cherry"]
copList = []
copList = orgList
print(f"Content of copied list before: {copList}")
copList.remove("banana")
print(f"Content of original list: {orgList}")
print(f"Content of copied list: {copList}")

Content of copied list before: ['apple', 'banana', 'cherry']
Content of original list: ['apple', 'cherry']
Content of copied list: ['apple', 'cherry']

However if you do not want to change the content of original list, we can do the following:

In [ ]:
#First Way
orgList = ["apple","banana", "cherry"]
copList = []
copList = orgList[:]
print(f"Content of copied list before: {copList}")
copList.remove("banana")
print(f"Content of original list: {orgList}")
print(f"Content of copied list: {copList}")

Content of copied list before: ['apple', 'banana', 'cherry']
Content of original list: ['apple', 'banana', 'cherry']
Content of copied list: ['apple', 'cherry']

In [ ]:
#Second Way
orgList = ["apple","banana", "cherry"]
copList = []
copList = list(orgList)
print(f"Content of copied list before: {copList}")
copList.remove("banana")
print(f"Content of original list: {orgList}")
print(f"Content of copied list: {copList}")

Content of copied list before: ['apple', 'banana', 'cherry']
Content of original list: ['apple', 'banana', 'cherry']
Content of copied list: ['apple', 'cherry']

In [ ]:
#Third Way
orgList = ["apple","banana", "cherry"]
copList = []
copList = orgList.copy()
print(f"Content of copied list before: {copList}")
copList.remove("banana")
print(f"Content of original list: {orgList}")
print(f"Content of copied list: {copList}")

Content of copied list before: ['apple', 'banana', 'cherry']
Content of original list: ['apple', 'banana', 'cherry']
Content of copied list: ['apple', 'cherry']

Here is an explanation of what is happening in the last blocks of code:

In [ ]:
#Let us consider the following:
a = [1, 2, 3]
b = [6, 7, 8]

#Address of the lists are the following:
print(f"Address of a: {hex(id(a))} Content of a: {a}")
print(f"Address of b: {hex(id(b))} Content of b: {b}")

#If the following happens
a = b

#The the address of list a becomes equal to list b
print(f"Address of a: {hex(id(a))} Content of a: {a}")
print(f"Address of b: {hex(id(b))} Content of b: {b}")

#Doing the following will change the content of the both
#of the list, since they both have the same adress
a.append(99)
print(f"Address of a: {hex(id(a))} Content of a: {a}")
print(f"Address of b: {hex(id(b))} Content of b: {b}")
a.remove(8)
print(f"Address of a: {hex(id(a))} Content of a: {a}")
print(f"Address of b: {hex(id(b))} Content of b: {b}")

#As mentioned the way to prevent the sharing of the 
#addresses is to do the following :
a = [1, 2, 3]
b = [6, 7, 8]
a = b[:]
#Pay special attention to addresses of a and b
print(f"Address of a: {hex(id(a))} Content of a: {a}")
print(f"Address of b: {hex(id(b))} Content of b: {b}")

a = [1, 2, 3]
b = [6, 7, 8]
a = list(b)
#Pay special attention to addresses of a and b
print(f"Address of a: {hex(id(a))} Content of a: {a}")
print(f"Address of b: {hex(id(b))} Content of b: {b}")

a = [1, 2, 3]
b = [6, 7, 8]
a = b.copy()
#Pay special attention to addresses of a and b
print(f"Address of a: {hex(id(a))} Content of a: {a}")
print(f"Address of b: {hex(id(b))} Content of b: {b}")

#So what happens if the following is done
x = 8
y = 9
x = y
print(f"Address of x: {hex(id(x))} Content of x: {x}")
print(f"Address of y: {hex(id(y))} Content of y: {y}")
#If one change the value of x, what happens
x = 18
#Observe the change of address of the variable x
print(f"Address of x: {hex(id(x))} Content of x: {x}")
print(f"Address of y: {hex(id(y))} Content of y: {y}")

Address of a: 0x7fb121078a48 Content of a: [1, 2, 3]
Address of b: 0x7fb121078a08 Content of b: [6, 7, 8]
Address of a: 0x7fb121078a08 Content of a: [6, 7, 8]
Address of b: 0x7fb121078a08 Content of b: [6, 7, 8]
Address of a: 0x7fb121078a08 Content of a: [6, 7, 8, 99]
Address of b: 0x7fb121078a08 Content of b: [6, 7, 8, 99]
Address of a: 0x7fb121078a08 Content of a: [6, 7, 99]
Address of b: 0x7fb121078a08 Content of b: [6, 7, 99]
Address of a: 0x7fb121078948 Content of a: [6, 7, 8]
Address of b: 0x7fb121078a48 Content of b: [6, 7, 8]
Address of a: 0x7fb121092948 Content of a: [6, 7, 8]
Address of b: 0x7fb121078788 Content of b: [6, 7, 8]
Address of a: 0x7fb121092948 Content of a: [6, 7, 8]
Address of b: 0x7fb121078a08 Content of b: [6, 7, 8]
Address of x: 0xa68bc0 Content of x: 9
Address of y: 0xa68bc0 Content of y: 9
Address of x: 0xa68ce0 Content of x: 18
Address of y: 0xa68bc0 Content of y: 9

#Tuple

---

Tuple is a data structure that contains elements that are immutable. It means the elements can not be changed once it is instantiated.

In [ ]:
myTuple = ("Apple", 10, "Banana", 20)
print(myTuple)

('Apple', 10, 'Banana', 20)

In [ ]:
#The following is a string
myStr = ("hello")
print(myStr)
print(type(myStr))

hello
<class 'str'>

In [ ]:
#However, the following is a tuple
myTuple = ("hello",)
print(myTuple)
print(type(myTuple))

('hello',)
<class 'tuple'>

In [ ]:
#Iterating the tuple
lenTuple = len(myTuple)
for i in range(lenTuple):
  print(myTuple[i])

hello

In [ ]:
#Let us see whether we can change via value assignment
myTuple[0] = "Carrots"
#... the answer is no.

TypeError: ignored

Since tuples are immutable, add or remove methods are not generally associated with tuples. However, it has couple of other functions and methods associated with it.

###`count` and `index` method

In [ ]:
#The method 'count' counts the number of given element in a given tuple
myTuple = ('banana')
print(f"Number of a in the tuple is {myTuple.count('a')}")
#The method 'index' provides the position of a given element in a tuple
print(f"Index of the first n in the tuple is {myTuple.index('n')}")

Number of a in the tuple is 3
Index of the first n in the tuple is 2

###`len` operator

In [ ]:
#The len operator still provides the length
#of a tuple like the following:
myTuple = ('banana')
print(f"Number of elements in the tuple is: {len(myTuple)}")

Number of elements in the tuple is: 6

Using type casting it is possible to convert a list to a tuple and a tuple to a list in the following way:

In [ ]:
myTuple = ("apple", 10, "banana", 20)
myList = list(myTuple)
print(myList)

['apple', 10, 'banana', 20]

You can now index in to the tuple, add or remove elements and do all the relevant procedures on it. On the flip side, you can also convert a list to a tuple like the following way:

In [ ]:
myList = ["apple", 10, "banana", 20]
myTuple = tuple(myList)
print(myTuple)

('apple', 10, 'banana', 20)

The variable `myTuple`is now a `tuple` and one can access all the given properties of a `tuple`. The values inside a `tuple` can be accessed in the same as the value inside a `list` could using index operator.

In [ ]:
myTuple = ("apple", 10, "banana", 20)
print(myTuple[0:5])

myTuple = ("a", 1, "b", 2, "c", 3, "d", 4)
lenTuple = len(myTuple)
#You can skip given indices
print(myTuple[0:lenTuple:2])

#Or if one wants to print the whole tuple
#one can do the following:
print(myTuple[:5])

('apple', 10, 'banana', 20)
('a', 'b', 'c', 'd')
('a', 1, 'b', 2, 'c')

###Tuple unpacking

It is possible to put a `tuple` of values on the right side of `=` sign and a `tuple` of variables of the left side. The values on the right becomes associated with the variables on the left side. This is known as tuple unpacking.

In [ ]:
(a,b,c) = (1,2,3)
print(a,b,c)
(a,b,c) = ("Banana", 1, "Apple")
print(a,b,c)

1 2 3
Banana 1 Apple

In [ ]:
#Just a bit of note, this is also possible
#since it does not require ( ) to make tuples
a, b, c = 1, 2, 3
print(a,b,c)

#It is always necessary to have exact number of
#variables , else it gives a problem like so
a,b,c = 1,2,3
a,c = 1,2,3

1 2 3

ValueError: ignored

Due to the popularity of tuple unpacking the idea of unpacking variables has been made available for other iterables: `strings`, `lists` and `dictionaries`

In [ ]:
#For strings
a,b,c = "ice"
print(a,b,c)

In [ ]:
#For lists
a,b,c = [1,2,3]
print(a,b,c)

1 2 3

In [ ]:
#For dictionaries
a,b,c = {"apple":1, "banana":2, "carbon":3}
print(a,b,c)

apple banana carbon

###Unpacking using `*` operator
Even though the number of variables should equal to the number of values, unpacking operator `*` allows to pack multiple values at once. For example:

In [ ]:
*a, = 1,2
print(a)

[1, 2]

This is useful is scenarios where the number of values is unexpected.

In [ ]:
#Here b packs in 2, 3 and 4
#while a and b takes in 1 and 5
a, *b, c = 1, 2, 3, 4, 5
print(a, b, c)

#Here b exactly takes in one value 2
a, *b, c = 1, 2, 3
print(a, b, c)

#Here b takes an empty list
a, *b, c = 1,2
print(a,b,c)

1 [2, 3, 4] 5
1 [2] 3
1 [] 2

In [ ]:
#However, this will give issues,
#since c does not get assinged anything
a, *b, c = 1,
print(a, b, c)

#But the following will be fine, since b
#b is empty
a, *b = 1,
print(a, b)

ValueError: ignored

###Swapping values in Python
One of the consequences of value unpacking is that it can be used to swap values of variables without using temporary variables.
A very detailed explanation is given in the following link:
https://stackoverflow.com/questions/27415205/how-pythons-a-b-b-a-works

In [ ]:
a = 20
b = 3

b, a = a, b

print(f"a: {a}, b: {b}")

### Tuples vs Lists
Tuples and lists can both be used to retrieve and store values. However, tuples takes relatively less time and space to do both of these operations, compared to lists. Here is an illustration of this effect:

In [ ]:
#Comparison of space between tuples and lists
import sys
myList = [0,1,2,"hello", True]
myTuple = (0,2,1, "hello", True)
print(f"myList takes: {sys.getsizeof(myList)} bytes")
print(f"myTuple takes: {sys.getsizeof(myTuple)} bytes")

myList takes: 104 bytes
myTuple takes: 88 bytes

In [ ]:
#Comparison of time between tuples and lists
import timeit
print(f" Time to make list : {timeit.timeit(stmt = '[0,1,2,3,4,5]', number = 1000000)}  ")
print(f" Time to make tuple: {timeit.timeit(stmt = '(0,1,2,3,4,5)', number = 1000000)} ")

 Time to make list : 0.0700084009999955
 Time to make tuple: 0.011425125000016578

#Dictionary 

---
A dictionary data structure in Python is used to store `key-value` pairs. A `key-value` is a mapping of a `key` to a given `value`. A dictionary is initialized using the `{}` keyword. Some examples are given below:

In [ ]:
fruitPrice = {"Apple": 10, "Banana":20, "Cherry":30}
print(fruitPrice)

{'Apple': 10, 'Banana': 20, 'Cherry': 30}

Another way to store `key-value` pair is the following:

In [ ]:
fruitPrice = dict(Apple = 10, Banana = 20, Cherry = 30)
print(fruitPrice)

{'Apple': 10, 'Banana': 20, 'Cherry': 30}

There are couple of other ways to iterate through `key-value` pairs:

In [ ]:
fruitPrice = {"Apple": 10, "Banana":20, "Cherry":30}
for key, value in fruitPrice.items():
  print(key, value)

Apple 10
Banana 20
Cherry 30

In [ ]:
#To iterate through the keys
fruitPrice = {"Apple": 10, "Banana":20, "Cherry":30}
for key in fruitPrice.keys():
  print(key)

Apple
Banana
Cherry

In [ ]:
#Another way to iterate through the values
fruitPrice = {"Apple": 10, "Banana":20, "Cherry":30}
for key in fruitPrice:
  print(key)

Apple
Banana
Cherry

In [ ]:
#To iterate through the values
fruitPrice = {"Apple": 10, "Banana":20, "Cherry":30}
for values in fruitPrice.values():
  print(values)

10
20
30

In [ ]:
#To iterate through the keys and values
fruitPrice = {"Apple": 10, "Banana":20, "Cherry":30}
for key in fruitPrice:
  print(key, fruitPrice[key])

Apple 10
Banana 20
Cherry 30

### Adding, deleting and finding `keys` and `values` into the dictionary

In [ ]:
#Change value of keys
fruitPrice["Apple"] = 20
fruitPrice["Banana"] = 25
fruitPrice["Cherry"] = 35
for key, value in fruitPrice.items():
  print(key, value)

Apple 20
Banana 25
Cherry 35

###Use of `del` keyword to delete a key

In [ ]:
#Delete a key
fruitPrice["Apple"] = 20
fruitPrice["Banana"] = 25
fruitPrice["Cherry"] = 35
del fruitPrice["Banana"]
for key, value in fruitPrice.items():
  print(key, value)

Apple 20
Cherry 35

In [ ]:
#Finding the value of a key
fruitPrice = {"Apple": 10, "Banana":20, "Cherry":30}
print(f"Price of Apple is : {fruitPrice.get('Apple')}")

#If the key is not found it returns None
print(fruitPrice.get("Date"))

Price of Apple is : 10
None

In [ ]:
#Find whether a certain key is present
fruitPrice = {"Apple": 10, "Banana":20, "Cherry":30}
if "Banana" in fruitPrice:
  print("Yes, banana is present ")
else:
  print("Nope, it is not present")

Yes, banana is present

In [ ]:
#Also, you can do the following to find whether a certain key is present
fruitPrice = {"Apple": 10, "Banana":20, "Cherry":30}
if "Banana" in fruitPrice.keys():
  print("Yes, banana is present ")
else:
  print("Nope, it is not present")

Yes, banana is present

In [ ]:
#To find whether a key is present, you can only do the following
fruitPrice = {"Apple": 10, "Banana":20, "Cherry":30}
if 10 in fruitPrice.values():
  print("Yes, 10 is present ")
else:
  print("Nope, it is not present")

Yes, 10 is present

###Updating a dictionary using `update` keyword

In [ ]:
fruitPrice = {"apple":10, "orange":15}
veggiePrice = {"carrot":100, "potato":105}
fruitPrice.update(veggiePrice)
print(f"The variable fruitPrice has been updated:\n {fruitPrice}")

The variable fruitPrice has been updated:
 {'apple': 10, 'orange': 15, 'carrot': 100, 'potato': 105}

###Use of `copy`operator
Copying elements in a dictionary follows the procedures similar to that of lists and tuples. But less us see the problem that we normally face while copying elements:

In [ ]:
#copying dictionaries and then change the elements in the dictionary
fruitPrice = {"Banana" : 10, "Mango" : 20, "Apple" : 15}
fruitPriceCopy = fruitPrice
print(f"Copied one before change: {fruitPriceCopy}")

#change a key, value pair in the copied version
fruitPriceCopy["Orange"] = 123
print(f"Copied one after change: {fruitPriceCopy}")

#the original dictionary gets changed
print(f"Original one after change: {fruitPrice}")

Copied one before change: {'Banana': 10, 'Mango': 20, 'Apple': 15}
Copied one after change: {'Banana': 10, 'Mango': 20, 'Apple': 15, 'Orange': 123}
Original one after change: {'Banana': 10, 'Mango': 20, 'Apple': 15, 'Orange': 123}

In the above lines of code, the original dictionary gets changed even if the copied dictionary is changed. The solution is to use `copy` operator or type cast using `dict` operator

In [ ]:
#copying dictionaries and then changing the elements in the dictionary
fruitPrice = {"Banana" : 10, "Mango" : 20, "Apple" : 15}
fruitPriceCopy = fruitPrice.copy()
print(f"Copied one before change: {fruitPriceCopy}")

#change a key, value pair in the copied version
fruitPriceCopy["Orange"] = 123
print(f"Copied one after change: {fruitPriceCopy}")

#the original dictionary does not get changed
print(f"Original one after change: {fruitPrice}")

Copied one before change: {'Banana': 10, 'Mango': 20, 'Apple': 15}
Copied one after change: {'Banana': 10, 'Mango': 20, 'Apple': 15, 'Orange': 123}
Original one after change: {'Banana': 10, 'Mango': 20, 'Apple': 15}

In [ ]:
#Another way of copying dictionaries and then changing the elements in the dictionary
fruitPrice = {"Banana" : 10, "Mango" : 20, "Apple" : 15}
fruitPriceCopy = dict(fruitPrice)
print(f"Copied one before change: {fruitPriceCopy}")

#change a key, value pair in the copied version
fruitPriceCopy["Orange"] = 123
print(f"Copied one after change: {fruitPriceCopy}")

#the original dictionary does not get changed
print(f"Original one after change: {fruitPrice}")

Copied one before change: {'Banana': 10, 'Mango': 20, 'Apple': 15}
Copied one after change: {'Banana': 10, 'Mango': 20, 'Apple': 15, 'Orange': 123}
Original one after change: {'Banana': 10, 'Mango': 20, 'Apple': 15}

`keys` in a dictionary can not be mutable iterators where as the `values` in a dictionary can be mutable iterators. The reason behind this is mutable iterators do change, and that makes it impossible to have a direct one-to-one mapping.

In [ ]:
#Following is an example with keys and values both as tuples
myDict = {}
myKeyTuple = (1,2)
myValueTuple = ("Banana", "Peacock")
myDict = {myKeyTuple:myValueTuple , "Apple":10, "Cherry":15, 10:"Pumpkin"}
for key, value in myDict.items():
  print(key, value)

(1, 2) ('Banana', 'Peacock')
Apple 10
Cherry 15
10 Pumpkin

In [ ]:
#Following is another example with only keys as tuples and values as list
myDict = {}
myKeyTuple = (1,2)
myValueSet = ["Banana", "Peacock"]
myDict = {myKeyTuple:myValueSet , "Apple":10, "Cherry":15, 10:"Pumpkin"}
for key, value in myDict.items():
  print(key, value)

(1, 2) ['Banana', 'Peacock']
Apple 10
Cherry 15
10 Pumpkin

In [ ]:
#Following is the last example where both key and values are list
#Remember to read into the error
myDict = {}
myKeySet = [1,2]
myValueSet = ["Banana", "Peacock"]
myDict = {myKeySet:myValueSet , "Apple":10, "Cherry":15, 10:"Pumpkin"}
for key, value in myDict.items():
  print(key, value)

TypeError: ignored

#Sets

---

Sets are datastructure which keeps only one copy of an element. It is unordered, and it is not indexable.Even though elements in a given set cannot be changed, however, contents of a set itself can be changed.
A set is represented using `{}`.

In [ ]:
#A generic set
mySet = {1,2,3,4}
print(mySet)

{1, 2, 3, 4}

In [ ]:
#A set of elements with duplicates inserted
mySet = {1,1,1,1,2,3,4,4}
print(mySet)
#Observe the absence of duplicates

{1, 2, 3, 4}

In [ ]:
#A set can house duplicate non-mutables 
mySet = {(1,2), (1,2), "Apple", "Apple",1, 2, 3}
print(mySet)

{(1, 2), 1, 2, 3, 'Apple'}

In [ ]:
#However , a set can not house duplicate mutables 
mySet = {[1,2,3], [1,2,3], 1,2,3}
print(mySet)

TypeError: ignored

The ways in which a `string` can be represented.

In [ ]:
mySet = {"Hello"}
print(type(mySet))
print(mySet)

In [ ]:
mySet = ("Hello")
print(type(mySet))
print(mySet)

In [ ]:
mySet = ("Hello",)
print(type(mySet))
print(mySet)

In [ ]:
#Type casting a string
mySet = set("hello")
print(mySet)

Since sets are mutable, it can not be used as `key` to a dictionary. But as usual a set can be used a `value` of a dictionary if the `key` happens to be non-mutable.

In [ ]:
#Gives error, since both key to the dictionary is mutable
mySet = {1,2}
myDict = {mySet: mySet}

In [ ]:
#Does not give error, since key to the dictionary is non-mutable
myTuple = (1,2)
mySet = {10,12}
myDict = {myTuple: mySet}
print(myDict)

###`add`, `remove` and `in` operator

In [ ]:
#A set should not be initialized in the following way
#Initializing a variable in the following way means
#initializing a variable to become a dictionary
#not a set
mySet = {}
print(type(mySet))

In [ ]:
#A set should be initialized in the following way
mySet = set()
print(type(mySet))

In [ ]:
#Adding elements to a set
mySet = set()
mySet.add("Apple")
mySet.add("Orange")
mySet.add(1)
mySet.add(2)
print(mySet)

In [ ]:
#Removing elements from a set
mySet.remove("Apple")
print(mySet)

In [ ]:
#Checking whether an element is in the set
mySet = set()
mySet = {"Apple", "Orange", 1, 2, 3}
if "Apple" in mySet:
  print("Apple is present")
else:
  print("Not present")

###`pop`, `discard`, and `clear` operator

In [ ]:
#pop removes the first element of a set
mySet = set()
mySet = {"Apple", "Banana", "Cherry"}
mySet.pop()
print(mySet)
mySet.pop()
print(mySet)
mySet.pop()
print(mySet)

In [ ]:
#discard is a fail safe method to remove an element
mySet = set()
mySet = {"Apple", "Banana", "Cherry"}
mySet.discard("Apple")
print(mySet)

In [ ]:
#This is what happens if an element is not present
mySet = set()
mySet = {"Apple", "Banana", "Cherry"}
mySet.discard("Date")
print(mySet)
#Application of the method does not give an error

In [ ]:
#However, doing the same using remove operator gives an error
mySet = set()
mySet = {"Apple", "Banana", "Cherry"}
mySet.remove("Date")
print(mySet)
#Application of the method does give an error

In [ ]:
#This problem can be resolved using a try and except block
#This will be shown later
mySet = set()
mySet = {"Apple", "Banana", "Cherry"}
try:
  mySet.remove("Date")
except:
  print(mySet)
#Application of the method fails safely

In [ ]:
#clear operator removes all the elements from the set
mySet = set()
mySet = {"Apple", "Banana", "Cherry"}
mySet.clear()
print(mySet)

###`union`,`intersection`, `difference` and `symmetric_difference` operations

In [ ]:
#Union of two sets
oddNum = {1, 3, 5, 7}
evenNum = {2, 4, 6, 8}
allNum = oddNum.union(evenNum)
print(f"All of the numbers: {allNum}")

In [ ]:
#Intersection of two sets
oddNum = {1, 3, 5, 7, 9, 11, 13}
primeNum = {2, 3, 5, 7, 11, 13}
oddAndPrime = oddNum.intersection(primeNum)
print(f"Intersection between odd and prime number: {oddAndPrime}")

In [ ]:
#Difference of two sets
naturalNumber = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
primeNumber = {2, 3, 5, 7, 11, 13, 17}

'''Difference of two sets are the elements which are 
present in one set but not in another one
The result depends on which set called the difference
method.For example in the set below, the set naturalNumber
calls the method difference with the set primeNumber as 
argument. So the element remaining in the set naturalNumber
are being printed'''

diff = naturalNumber.difference(primeNumber)
print(f"Difference between natural number and prime number: {diff}")

In [ ]:
#Symmetric difference of two sets
naturalNumber = {1, 2, 3, 4, 5, 6}
primeNumber = {2, 3, 5, 7, 11 }

'''Symmetric difference of two sets are the elements
which are not in the intersection of two sets
Symmetric difference between the above two sets
will yield 1,4,6,7 and 11 , since these are the 
elements that are not present in the intersection
of the two sets. The elements which are in the 
intersection of the two sets are 2, 3 and 5
'''

diff = naturalNumber.symmetric_difference(primeNumber)
print(f"Symmetric difference between natural number and prime number: {diff}")

###`update`,`intersection_update`, `difference_update` and `symmetric_difference_update` operations

The operations `union`, `intersection`, `difference` and `symmetric_difference` returns sets. However these operations can also be done in place as shown in the following examples:

In [ ]:
#Use of update operation
oddNum = {1, 3, 5, 7, 9}
evenNum = {2, 4, 6, 8, 10, 12, 14}
oddNum.update(evenNum)
print(f"The odd numbers are: {oddNum}")

In [ ]:
#Use of intersection_update operation
naturalNumber = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
evenNumber = {2, 4, 6, 8, 10, 12, 14}
naturalNumber.intersection_update(evenNumber)
print(f"The numbers in the intersection are: {naturalNumber}")

In [ ]:
#Use of difference_update operation
naturalNumber = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
evenNumber = {2, 4, 6, 8, 10, 12, 14}
naturalNumber.difference_update(evenNumber)
print(f"The numbers in the intersection are: {naturalNumber}")

The numbers in the intersection are: {1, 3, 5, 7, 9}

In [ ]:
#Use of symmetric_difference_update operation
naturalNumber = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
evenNumber = {2, 4, 6, 8, 10, 12, 14}
naturalNumber.symmetric_difference_update(evenNumber)
print(f"The numbers in the intersection are: {naturalNumber}")

The numbers in the intersection are: {1, 3, 5, 7, 9, 12, 14}

###`issubset`, `issuperset` and `isdisjoint` keywords

In [ ]:
#To check whether a set is a subset of another set
setA = {1, 2, 3, 4, 5}
setB = {2, 3, 4}
print(setB.issubset(setA))
print(setA.issubset(setB))

True
False

In [ ]:
#To check whether a set is a superset of another set
setA = {1, 2, 3, 4, 5}
setB = {2, 3, 4}
print(setB.issuperset(setA))
print(setA.issuperset(setB))

False
True

In [ ]:
#Check whether a set is a disjoint of another set
setA = {1, 2, 3, 4, 5}
setB = {1, 2}
setC = {10,20}
print(setA.isdisjoint(setB))
print(setA.isdisjoint(setC))

False
True

###`copy` operation

In [ ]:
#Just like the previous datastructure copying works
#in the same way. Adding an element after copying 
#it changes the orginal as well as the copied one
setA = {1,2,3,4}
setB = setA
setA.add(100)
print(f"Original set: {setA}")
print(f"Copied set: {setB}")

Original set: {1, 2, 3, 100, 4}
Copied set: {1, 2, 3, 100, 4}

In [ ]:
#One way to resolve this problem is to use the copy method
setA = {1,2,3,4}
setB = setA.copy()
setA.add(100)
print(f"Original set: {setA}")
print(f"Copied set: {setB}")

Original set: {1, 2, 3, 100, 4}
Copied set: {1, 2, 3, 4}

In [ ]:
#One other way to resolve this problem 
setA = {1,2,3,4}
setB = set(setA)
setA.add(100)
print(f"Original set: {setA}")
print(f"Copied set: {setB}")

Original set: {1, 2, 3, 100, 4}
Copied set: {1, 2, 3, 4}

###`frozenset` operations

In [ ]:
#If somebody feels to restrict the ability of a 
#a set to be updated or have its elements to be 
#remove an element he/she can use frozenset
mySet = frozenset({1, 2, 3, 3})
print(mySet)

frozenset({1, 2, 3})

In [ ]:
#Gives an error
try:
  mySet.add(7)
except:
  print("Error in adding")

Error in adding

In [ ]:
#Gives an error
try:
  mySet.remove(1)
except:
  print("Error in removing")

Error in removing

In [ ]:
#Gives an error
try:
  mySet.pop()
except:
  print("Error in popping out element")

Error in popping out element

However, `union`, `intersection`, `difference`, `symmetric_difference` operations will work.

In [ ]:
#union operation
oddSet = frozenset({1, 3, 5})
evenSet = frozenset({2, 4, 6})
print(oddSet.union(evenSet))

frozenset({1, 2, 3, 4, 5, 6})

In [ ]:
#difference operation
naturalSet = frozenset({1, 2, 3, 4, 5})
evenSet = frozenset({2, 4, 6})
print(oddSet.difference(evenSet))

frozenset({1, 3, 5})

In [ ]:
#intersection operation
naturalSet = frozenset({1, 2, 3, 4, 5})
evenSet = frozenset({2, 4, 6})
print(naturalSet.intersection(evenSet))

frozenset({2, 4})

In [ ]:
#symmetric_difference operation
naturalSet = frozenset({1, 2, 3, 4, 5})
evenSet = frozenset({2, 4, 6})
print(naturalSet.symmetric_difference(evenSet))

frozenset({1, 3, 5, 6})

But `update`, `intersection_update`, `difference_update`, `symmetric_difference_update` operations will not work.

In [ ]:
#union operation
naturalSet = frozenset({1, 2, 3, 4, 5})
evenSet = frozenset({2, 4, 6})
try:
  naturalSet.update(evenSet)
except:
  print("Update is not possible")

try:
  naturalSet.intersection_update(evenSet)
except:
  print("Intersection update is not possible")

try:
  naturalSet.difference_update(evenSet)
except:
  print("Difference update is not possible")

try:
  naturalSet.symmetric_difference_update(evenSet)
except:
  print("Symmetric difference update is not possible")

Update is not possible
Intersection update is not possible
Difference update is not possible
Symmetric difference update is not possible

#String

---
String is an immutable type in Python. The content in a string can not be changed due to its immutable nature.

In [ ]:
#Printing a string
myStr = "hello"
print(myStr)

hello

Couple of ways to print a `string` in Python

In [ ]:
#Printing one quoted string inside another one 
myStr = "One more thing, he said: 'I will miss you'"
print(myStr)

One more thing, he said: 'I will miss you'

In [ ]:
#Printing more than one line of text 
myStr = '''I then said, I hope not.
He said, 'I also hope too'.
And then he drove away.'''
print(myStr)

I then said, I hope not.
He said, 'I also hope too'.
And then he drove away.

In [ ]:
#Printing mltiple lines this way also make  
myStr = """I then said, I hope not.
He said, 'I also hope too'.
And then he drove away."""
print(myStr)

I then said, I hope not.
He said, 'I also hope too'.
And then he drove away.

In [ ]:
#But if you want to see multiple lines in one line
#you have to do it in the following way:
#Printing mltiple lines this way also make  
myStr = """I then said, I hope not. \
He said, 'I also hope too'.\
And then he drove away."""
print(myStr)

I then said, I hope not. He said, 'I also hope too'.And then he drove away.

###immutable nature of string

In [ ]:
#Printing a string by characters
myStr = "straw"
for i in myStr:
  print(i)

s
t
r
a
w

In [ ]:
#Printing a string by indices
myStr = "straw"
strLen = len(myStr)
for i in range(strLen):
  print(myStr[i])

s
t
r
a
w

In [ ]:
#However, even though the characters can 
#be read, it can not be written though
myStr = "straw"
try:
  myStr[0] = 'c'
except:
  print("Error, mate")

Error, mate

###Printing using indices of strings

In [ ]:
myStr = str(123456789)
print(f"The string is: {myStr}")

The string is: 123456789

In [ ]:
#Catching syntax error using try except
#str(0123456) with 0 infront is a syntax error
try:
  exec('myStr =  str(0123456789)')
except:
  print(f"Something is wrong here")
#About exec:
#https://stackoverflow.com/questions/2220699/whats-the-difference-between-eval-exec-and-compile

Something is wrong here

In [ ]:
#Printing a substring
myStr = str(123456789)
print(myStr[0:5])

12345

In [ ]:
#Skipping characters in a substring
myStr = str(123456789)
lenStr = len(myStr)

#Skipping characters in strings
print(myStr[0:lenStr:2])

#It can be done like this as well
print(myStr[::2])

#Printing a whole string
print(myStr[:])
print(myStr[::])

13579
13579
123456789
123456789

###reversing a string with skipping strings

In [ ]:
#Reverse a string by skipping backward
myStr = str(123456789)
print(myStr[::-1])

987654321

In [ ]:
#This is different from the following
myStr = str(123456789)
print(myStr[-1])

9

###finding an element in a string : `in` , `find`, `count`, `startswith` and `endswith`

In [ ]:
myStr = str(123456789)
if '1' in myStr:
  print("1 is present ")
else:
  print("1 is not present ")

1 is present

In [ ]:
myStr = str(123456789)
#Gives the index of a character
print(myStr.find('4'))

#Gives the indices of multiple characters
print(myStr.find('34'))

#Gives the -1 for the index of multiple characters
print(myStr.find('304'))

3
2
-1

In [ ]:
myStr = str(123456789)
#Search for multiple characters at the beginning
print(myStr.startswith('123'))

#Search for multiple characters at the end
print(myStr.endswith('789'))

#Search for multiple characters that is not present at the beginning
print(myStr.startswith('304'))

#Search for multiple characters that is not present at the end
print(myStr.endswith('304'))

True
True
False
False

###`strip` method 

The method `strip` by default is used to remove leading and trailing spaces(` `), new tabs( `\t`) and new lines(`\n`). If a character is used in the method that particular is removed if it is the leading and trailing characters.

In [ ]:
#Remove the leading and trailing space
myStr = str("    cherry picking characters   ")
myStr = myStr.strip()
print(myStr)

cherry picking characters

In [ ]:
#Remove the leading and trailing \n
myStr = str("\ncherry \npicking \ncharacters\n")
print(myStr)
myStr = myStr.strip()
print(myStr)

cherry
picking
characters

cherry
picking
characters

In [ ]:
#Remove and leading \t
myStr = str("\tcherry \tpicking \tcharacters\t")
print(myStr)
myStr = myStr.strip()
print(myStr)

	cherry 	picking 	characters
cherry 	picking 	characters

In [ ]:
#Remove leading and trailing characters
myStr = str("she sells sea shells")
myStr = myStr.strip('s')
print(myStr)

he sells sea shell

Examples of using `strip` method

In [ ]:
#Remove leading and trailing space 
name = input("Enter your name: ")
name = name.strip()
print(f"The name is: {name}")

Enter your name:
The name is:

In [ ]:
#A relevant example
%%writefile hello.txt
Hello Mellow
You look dainty
Sincerely
A pretty fellow

Writing hello.txt

In [ ]:
#Read the text files
file = open("hello.txt", "r")
print(file.readlines())
file.close()

['Hello Mellow\n', 'You look dainty\n', 'Sincerely\n', 'A pretty fellow ']

If you want to strip the `\n` tag, one need to use `strip` keyword

In [ ]:
file = open("hello.txt", "r")
listLines = file.readlines()
myList = []
for line in listLines:
  myList.append(line.strip())
print(myList)
file.close()
#concatenate the strings with empty
print(' '.join(myList))

['Hello Mellow', 'You look dainty', 'Sincerely', 'A pretty fellow']
Hello Mellow You look dainty Sincerely A pretty fellow

###`split` method

In [ ]:
#split is used to seperate the components of string
myStr = '''Hello, there, I will be there for you.
May be you have heard it for the first time,
it will defintely not be for the last time.
'''
#Splitting the strings on ' '(space)
print(myStr.split())

#Splitting the strings on ','
print(myStr.split(','))

#Splitting the strings on '.'
print(myStr.split('.'))

['Hello,', 'there,', 'I', 'will', 'be', 'there', 'for', 'you.', 'May', 'be', 'you', 'have', 'heard', 'it', 'for', 'the', 'first', 'time,', 'it', 'will', 'defintely', 'not', 'be', 'for', 'the', 'last', 'time.']
['Hello', ' there', ' I will be there for you.\nMay be you have heard it for the first time', '\nit will defintely not be for the last time.\n']
['Hello, there, I will be there for you', '\nMay be you have heard it for the first time,\nit will defintely not be for the last time', '\n']

###concatenate using `+` and `join` keyword

In [ ]:
#concatenate two strings
fruit = "cherry"
veggie = "cauliflower"
print(fruit +" "+ veggie)

cherry cauliflower

In [ ]:
#use of join operator
fruitList = ["Apple Pie", "Banana Salad", "Cherry Sauce"]

#concatenating the elements in the list with ' '
myStr = ' '.join(fruitList)
print(myStr)

#concatenating the elements in the list with ','
myStr = ','.join(fruitList)
print(myStr)

Apple Pie Banana Salad Cherry Sauce
Apple Pie,Banana Salad,Cherry Sauce

Which one is better concatenation using `+` or `join`

In [ ]:
#Using `+` operator
from timeit import default_timer as timer
myList = ['a'] * 60000
#print(myList)

start = timer()
myString = ''
for i in myList:
  myString += i
stop = timer()
print(f"Time took: {stop - start}")

Time took: 0.010436749999996664

In [ ]:
#Using `join` operator
from timeit import default_timer as timer

mylist = ['z'] * 60000
#print(mylist)
start = timer()
myStr = ' '.join(mylist)
stop = timer()
print(f"Time took: {stop - start}")

Time took: 0.0015101589999915177

###`replace` one word with another one

In [ ]:
myStr = "cherry is spicy"
print(myStr.replace('cherry', 'berry'))

berry is spicy

###Formatting strings

In [ ]:
day = "Friday"
myString = "%s is a good day to get out " %day
print(myString)

Friday is a good day to get out

In [ ]:
watermelons = 3
myString = "I have %d watermelons " %watermelons
print(myString)

I have 3 watermelons

In [ ]:
money = 3.234
myString = "I owe you Taka %.6f hehe" %money
print(myString)

I owe you Taka 3.234000 hehe

In [ ]:
carrots = 3
money = 30.56
myString = "{} carrots costs {:.2f} taka" .format(carrots, money )
print(myString)

3 carrots costs 30.56 taka

In [ ]:
#Relevant for newer versions of Python
money = 3.234
mango = 6
myString = f"I have {mango} mangoes and their total price is {mango * money:.3f}"
print(myString)

I have 6 mangoes and their total price is 19.404